<app-header></app-header>
<ion-list>
  <ion-item-sliding *ngFor="let item of items">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>note</h3>
        </ion-text>
        <p>loren ipsum</p>
      </ion-label>
  </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="unread(item)">edit</ion-item-option>
      <ion-item-option color="warning" (click)="unread(item)">delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<app-footer></app-footer>
